<body>

  <!-- Navigation -->
  <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="/">
                <span class="light">NY</span> Freedom Forum
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <% if !logged_in? %>
                  <li>
                    <a href="/reports">View Reports</a>
                  </li>
                  <li>
                    <a href="/login">Log In</a>
                  </li>
                  <li>
                      <a href="/signup">Sign Up</a>
                  </li>
                <% else %>
                  <li>
                    <a href="/reports/new">New Report</a>
                  </li>
                  <li>
                    <a href="/<%= @user.slug %>">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <div class="container vert-center">
    <form action="/signup" method="POST">
      <h1 class="text-center">Signup</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <div class="form-group">
           <label for="username">Username:</label>
           <input type="username" class="form-control" name="username" id="username">
            <span class="help-block">(minimum six characters)</span>
         </div>
         <div class="form-group">
           <label for="password">Password</label>
           <input type="password" class="form-control" name="password" id="password">
           <span class="help-block">(minimum six characters, 1 number and 1 special character)</span>
         </div>
         <br>
         <button class="btn btn-lg btn-info btn-block" value="Signup" type="submit">Submit</button>
        </div>
       </div>
    </form>
  </div>
  <!-- jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <script src="/js/grayscale.js"></script>

</body>
