<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">NY Freegan Forum</a>
    <button type="button" value="login" class="btn btn-default navbar-btn navbar-right" onclick="location.href='/login'">Log In</a></button>
  </div>
</nav>

<div class="container vert-offset-top-14">
  <form action="/signup" method="POST">
    <h3 class="text-center">Signup</h3>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       <div class="form-group">
         <label for="username">Username:</label>
         <input type="username" class="form-control" name="username" id="username">
          <span class="help-block">(minimum six characters)</span>
       </div>
       <div class="form-group">
         <label for="password">Password</label>
         <input type="password" class="form-control" name="password" id="password">
         <span class="help-block">(minimum six characters)</span>
       </div>
       <button class="btn btn-lg btn-info btn-block" value="Signup" type="submit">Submit</button>
      </div>
     </div>
  </form>
</div>
