<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">NY Freegan Forum</a>
    <% if !logged_in? %>
      <div class="btn-toolbar">
        <button type="button" value="signup" class="btn btn-default navbar-btn navbar-right" onclick="location.href='/signup'">Sign Up</button>
        <button type="button" value="login" class="btn btn-default navbar-btn navbar-right" onclick="location.href='/login'">Log In</button>
      </div>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @user.username %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%=@user.slug%>">Profile</a></li>
            <li><a href="/reports/new">New Report</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

<div class="jumbotron vert-offset-top-13">
  <div class="container">
    <h1>NY Freegan Forum</h1>
    <p>A website to inform and connect nyc freegans</p>
    <br><br>
  </div>
</div>
