<html lang="EN">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NY Freegan Forum</title>
    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="/stylesheets/grayscale.css" rel="stylesheet">
  </head>

  <% if flash[:failure] %>
    <div id="flash" class="alert alert-danger text-center" >
      <%= flash[:failure] %>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div id="flash" class="alert alert-success text-center">
      <%= flash[:success] %>
    </div>
  <% end %>
  <%= yield %>


  </html>
