<body>

  <!-- Navigation -->
  <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="/">
                <span class="light">NY</span> Freedom Forum
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <% if !logged_in? %>
                  <li>
                    <a href="/reports">View Reports</a>
                  </li>
                  <li>
                    <a href="/login">Log In</a>
                  </li>
                  <li>
                      <a href="/signup">Sign Up</a>
                  </li>
                <% else %>
                  <li>
                    <a href="/reports">View Reports</a>
                  </li>
                  <li>
                    <a href="/<%= @user.slug %>">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <div class="container vert-center responsive-longform">
    <form class="form-horizontal" action="/reports/new" method="POST">

      <!-- Form Name -->
      <h1 class="text-center">New Report</h1>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-3 control-label" for="title">Title</label>
        <div class="col-md-6">
          <input id="title" name="title" class="form-control input-md" type="text">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-3 control-label" for="textinput">Business:</label>
        <div class="col-md-6">
          <input id="business" name="business" class="form-control input-md" type="text">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-3 control-label" for="textinput">Location:</label>
        <div class="col-md-6">
          <input id="location" name="location" class="form-control input-md" type="text">
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-3 control-label" for="textarea">Summary:</label>
        <div class="col-md-6">
          <textarea class="form-control" rows="12" id="textarea" name="content"></textarea>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-3 control-label" for="textinput">Date:</label>
        <div class="col-md-6">
        <input id="date" name="date" class="form-control input-md" type="text">
        <span class="help-block">YYYY-MM-DD</span>
        </div>
      </div>

      <!-- Multiple Radios -->

      <div class="form-group">
        <label class="col-md-3 control-label" for="radios">Borough:</label>
          <div class="col-md-6">
            <% Borough.all.each do |borough| %>
              <label class="radio-inline"><input type="radio" name="borough" value="<%=borough.name%>" id="<%=borough.name%>"><%=borough.name%></label>
            <% end %>
            <br><br>
            <button class="btn btn-lg btn-info btn-block" value="Create" name="button" type="submit">Create Report</button>
          </div>
      </div>
    </form>
  </div>


  <!-- jQuery -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <!-- Theme JavaScript -->
  <script src="/js/grayscale.js"></script>

</body>
